venv/
__pycache__/
*.pyc

data/
!tests/data/
!tests/data/*

results/*
!results/figures/
!results/figures/*
!results/figures_graphsage/
!results/figures_graphsage/*
!results/figures_models/
!results/figures_models/*
!results/rif_results.csv
!results/rif_results.xlsx
!results/rif_results_2010_2022.csv
!results/rif_results_2010_2022.xlsx