venv/
__pycache__/
*.pyc
data/
results/*
!results/rif_results.csv
!results/rif_results.xlsx
!results/figures/
!results/figures/*
!results/figures_graphsage/
!results/figures_graphsage/*
!results/rif_results_2010_2022.csv
!results/rif_results_2010_2022.xlsx